div{
    background-color: #a465fc;
  
}
app-redes {
    float: right;
    /* width: 25%;   */
    margin: 20px;
}

app-logo-ap {
    float: left;
    /* width: 25%;     */
    margin: 20px;

}

app-banner {
    width: 100%;
    height: 10%;
}