<div class="">
    <!-- <div class="col-xs-12 col-sm-6 col-md-2 col-lg-12"> -->
        <div class="logos_redes">
            <a href="https://github.com/cyntiaguzman"><img src="../../../assets/github.png" alt=""></a>
            <a href="https://www.linkedin.com/in/cyntia-guzman-856a44144/"><img src="../../../assets/linkedin.png" alt=""></a>
            <a href="https://www.facebook.com/cyntivaneguzman/"><img src="../../../assets/facebook.png" alt=""></a>
            <a href="https://www.instagram.com/cynti2015/?hl=es-la"><img src="../../../assets/instagram.png" alt=""></a>
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
        </div>
    <!-- </div> -->
</div>