img {
    width: 40px;
    margin: 2px;

}

.logos_redes {
    /* background-color: rgb(226, 43, 43); */
    top: 50%;

}
.logo-ap {
    top: 50%;
}


@media screen and (max-width:480px) {
    .row {
        width: 100%;
    }
    img {
        width: 25px;
        margin: 2px;
     
    
    }
    .logos_redes {
        width: 200px;
        margin-left: 70px;
        /* margin-bottom: 5px; */
    }
}