<div class="row">
    <h2>Hard & Soft Skills</h2>
    <div class="col-sm-8 col-md-4 col-lg-2">
        <div>
            <circle-progress
                [percent]="85"
                [radius]="100"
                [showUnits]="false"
                [title]="'HTML'"
                [showSubtitle]="false"
                [imageSrc]="'../assets/facebook.png'"
                [imageHeight]="80"
                [imageWidth]="80"
                [showImage]="true"
                [outerStrokeWidth]="6"
                [innerStrokeWidth]="100"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="800"
                >
            </circle-progress>
        </div>
    </div>
    <div class="col-sm-8 col-md-4 col-lg-2">
        <div>
            <circle-progress
                [percent]="85"
                [radius]="100"
                [showUnits]="false"
                [title]="'HTML'"
                [showSubtitle]="false"
                [imageSrc]="'../assets/facebook.png'"
                [imageHeight]="80"
                [imageWidth]="80"
                [showImage]="true"
                [outerStrokeWidth]="6"
                [innerStrokeWidth]="100"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="800"
                >
            </circle-progress>
        </div>
    </div>
    <div class="col-sm-8 col-md-4 col-lg-2">
        <div>
            <circle-progress
                [percent]="85"
                [radius]="100"
                [showUnits]="false"
                [title]="'HTML'"
                [showSubtitle]="false"
                [imageSrc]="'../assets/facebook.png'"
                [imageHeight]="80"
                [imageWidth]="80"
                [showImage]="true"
                [outerStrokeWidth]="6"
                [innerStrokeWidth]="100"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="800"
                >
            </circle-progress>
        </div>
    </div>
    <div class="col-sm-8 col-md-4 col-lg-2">
        <div>
            <circle-progress
                [percent]="85"
                [radius]="100"
                [showUnits]="false"
                [title]="'HTML'"
                [showSubtitle]="false"
                [imageSrc]="'../assets/facebook.png'"
                [imageHeight]="80"
                [imageWidth]="80"
                [showImage]="true"
                [outerStrokeWidth]="6"
                [innerStrokeWidth]="100"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="800"
                >
            </circle-progress>
        </div>
    </div>
    <div class="col-sm-8 col-md-4 col-lg-2">
        <div>
            <circle-progress
                [percent]="85"
                [radius]="100"
                [showUnits]="false"
                [title]="'HTML'"
                [showSubtitle]="false"
                [imageSrc]="'../assets/facebook.png'"
                [imageHeight]="80"
                [imageWidth]="80"
                [showImage]="true"
                [outerStrokeWidth]="6"
                [innerStrokeWidth]="100"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="800"
                >
            </circle-progress>
        </div>
    </div>
    <div class="col-sm-8 col-md-4 col-lg-2">
        <div>
            <circle-progress
                [percent]="85"
                [radius]="100"
                [showUnits]="false"
                [title]="'HTML'"
                [showSubtitle]="false"
                [imageSrc]="'../assets/facebook.png'"
                [imageHeight]="80"
                [imageWidth]="80"
                [showImage]="true"
                [outerStrokeWidth]="6"
                [innerStrokeWidth]="100"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="800"
                >
            </circle-progress>
        </div>
    </div>
</div>

