.row {
    background-color: rgb(0, 255, 204);
    padding: 0.5em;
}
/* .row > div{
    margin: 10px; 
} */

/* foto de perfil */


/* medias query */

@media screen and (max-width:480px) {
    .perfil_foto{
        position: absolute;
        width: 50%;
        /* left: 50%;
        right: 50%; */
        top:200px;
        border-radius: 25%;
    }
    h1{
        background-color: rgb(47, 174, 186);

    }

}

@media screen and (min-width:480px) and (max-width:960px) {
    .perfil_foto{
        position: absolute;
        width: 20%;
        left: 5%;
        top: 30em;
        border-radius: 25%;
    }
    h1{
        background-color: brown;

    }

}



/* clase primeros datos */
.primeros_datos{
    text-align: center;
}

h1{
    font-weight: bold;
}

/* acerca de mi */

