<div class="row">
    <div class="col-xs-2 col-sm-6 col-md-2 col-lg-2">
       <div class="perfil_foto">
            <img src="../../../assets/foto_perfil.png" class="img-fluid">
        </div>
    </div>
    <div class="col-xs-8 col-sm-6 col-md-2 col-lg-2">
       <div class="primeros_datos">
            <h1 class="name">Cyntia Guzman</h1>
            <p class="titulo">Full Stack
                Developer Jr</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <span>
            <h2>Acerca de mi</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In pariatur quibusdam quod iure adipisci libero ipsam nisi incidunt perspiciatis eius possimus suscipit voluptatibus reiciendis aliquam officiis, sit aspernatur nemo fugit.</p>
        </span>
    </div>

</div>
