.row {
     display: flex;
    justify-content: center;
}
.nav{
    background-color: #a465fc;
    width: 100%;
    height: 100px;
    /* position: relative; */
    padding-left: 50px;
    padding-right: 50px;
    position: fixed;
    /* justify-content: center; */
    z-index: 99999999999;
}


app-redes {
    float: right;
    /* width: 25%;   */
    margin-top: 20px;
}

app-logo-ap {
    float: left;
    /* width: 25%;     */
    margin-top: 20px;

}

@media screen and (max-width:480px) {
    .nav{
        height: 70px;
        position: fixed;
    }
    app-redes  {
        /* width: 100%; */
        /* margin-right: 70px; */
      /* background-color: blue; */
      margin-left: 5px;

        
    }
    
}